{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Galileo Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex p-4 @container">
              <div class="flex w-full flex-col gap-4 items-center">
                <div class="flex gap-4 flex-col items-center">
                  <div
                    class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32"
                    style='background-image: url("https://ibb.co/gvvt6tq");'
                  ></div>
                  <div class="flex flex-col items-center justify-center justify-center">
                    <p class="text-[#0e141b] text-[22px] font-bold leading-tight tracking-[-0.015em] text-center">Luis Caceres</p>
                    <p class="text-[#4e7397] text-base font-normal leading-normal text-center">Full Stack Web Developer</p>
                  </div>
                </div>
                <div class="flex w-full max-w-[480px] gap-3 @[480px]:w-auto">
                 <a href="https://www.linkedin.com/in/luis-alberto-caceres-irala-09ba5b318?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">  
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#e7edf3] text-[#0e141b] text-sm font-bold leading-normal tracking-[0.015em] flex-1 @[480px]:flex-auto"
                  >
                    <span class="truncate">Connect on LinkedIn</span>
                  </button>
                 </a>
                 <a href="https://github.com/LuisCIrala"> 
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#1980e6] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em] flex-1 @[480px]:flex-auto"
                  >
                    <span class="truncate">View on GitHub</span>
                  </button>
                 </a>   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


{% endblock %}

